# Database (Neon)
DATABASE_URL="postgres://user:password@host/db?sslmode=require"

# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."

# App Config
# The email address that is allowed to edit and create blogs
BLOG_OWNERS_EMAIL="patrick@patmac.ca"

# Vercel Blob (for image uploads)
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_..."
